html{
scroll-behavior: smooth;
}

body{

    margin: 0 auto;
    width: 800px;
    font-size: 19px;
}
ul li {
    display: inline;
    margin: 0.5em;
    font-size: 25px;
    
}

ul {
    text-align: center;
    width: 665px;
}

body h1 {
    padding-right: 15px;
}
